$base-color: white !dynamic;
$color: #000033 !dynamic;
$font-family: 'Helvetica Neue' !dynamic;
$panel-body-background-color: $base-color !dynamic;
$panel-header-color: $color !dynamic;
$window-border-width: 1px !dynamic;
$window-border-color: $color !dynamic;
$panel-header-padding: 10px 10px !dynamic;